html, body {
	font-family: 'San Francisco 2', 'Helvetica Neue', sans-serif;
}

/* Hero Slides */
.heroslide.battlescape {
	height: 641px;
	background-image: url('/images/banner_battlescape_large_2x.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
}
.heroslide.engine {
	height: 641px;
	background-image: url('/images/banner_engine_large_2x.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
}
.heroslide.connect {
	height: 641px;
	background-image: url('/images/banner_connect_large_2x.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
}

.orbit-slide-number, .orbit-timer { display: none; }

.orbit-bullets { margin-top: -55px; }
.orbit-bullets li { background: rgba(255, 255, 255, 0.23); height: 12px; margin-right: 20px; width: 12px; }
.orbit-bullets li.active { background: rgba(212, 212, 212, 1); }

h1 {
	margin-top: 270px;
	color: #FFF;
	font-weight: 100;
  	font-size: 92.5px;
	font-family: 'San Francisco 2', 'Helvetica Neue', sans-serif;
}
h1.connected {
	margin-top: 210px;
}
p {
	color: #FFF;
	font-weight: 300;
  	font-size: 17px;
	font-family: 'San Francisco 2', 'Helvetica Neue', sans-serif;
	margin-top: -20px;
	letter-spacing: .4px;
}

.heroslide a {
	display: inline-block;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.4);
	padding: 15px 70px;
	color: #FFF;
	font-weight: 300;
	font-family: 'San Francisco 2', 'Helvetica Neue', sans-serif;
	font-size: 17px;
}
.heroslide a.white {
	background: rgba(255,255,255,0.15);
	color: #FFF;
}

.heroslide .battlescape_links {
	margin-top: 445px;
}
.heroslide a.kickstarter {
  border-radius: 5px;
  background-color: rgb(46, 204, 109);
  box-shadow: 0px 4px 0px 0px rgba(60, 134, 90, 1);
  margin-left: 20px;
}

header {
	height: 118px;
	margin-bottom: -118px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
}
header .logo {
	width: 258.5px;
	height: 81px;
	background-image: url('/images/logo_2x.png');
	background-position: top left;
	background-size: 258.5px 81px;
	background-repeat: no-repeat;
	float: left;
	margin-top: 19px;
}
nav {
	float: right;
	position: relative;
	margin-top: 50px;
}
nav a {
	font-weight: 200;
	color: #FFF;
  	font-size: 14px;
	margin-right: 60px;
}
nav a:hover {
	color: #cad1e8;
}
nav a:last-child {
	margin-right: 0px;
}

/* Tiles */
.tiles { margin-top: 20px; }
.tiles div a {
	margin: 0 2px;
	font: 0/0 a;
    color: transparent;
	display: block;
	height: 225px;
	width: auto;
	background-repeat: no-repeat;
}
.tiles div:first-child a { margin-left: 0; }
.tiles div:last-child a { margin-right: 0; }
.tiles div:first-child a {
	background-image: url('/images/tile_engine_large_2x.png');
	background-size: 418px 225px;
	background-position: center top;
}
.tiles div a {
	background-image: url('/images/tile_studios_large_2x.png');
	background-size: 418px 225px;
	background-position: center top;
}
.tiles div:last-child a {
	background-image: url('/images/tile_battlescape_large_2x.png');
	background-size: 418px 225px;
	background-position: center top;
}






footer.row {
	height: 150px;
	margin-top: 40px;
}
footer .border-top {
	border-top: 1px solid #EEE;
	padding-top: 20px;
}
footer .logo {
	background-image: url('/images/footer_logo_2x.png');
	background-size: 217px 68px;
	height: 68px;
	width: 217px;
	display: inline-block;
	margin-right: 40px;
}

footer ul {
	margin-right: 20px;
	display: inline-block;
	list-style: none;
	vertical-align: top;
}
footer ul li a {
	font-size: 14px;
	color: #AAA;
	font-weight: 200;
}
footer ul li:first-child a {
	color: #777777;
}