<<<<<<< HEAD
html, body { font-family: 'San Francisco 2', 'Helvetica Neue', sans-serif }
.heroslide.battlescape {
    height: 641px;
    background-image: url('/images/banner_battlescape_small_2x.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}
@media only screen and (min-width: 64.063em) { 
    .heroslide.battlescape { background-image: url('/images/banner_battlescape_large_2x.png') }
}
.heroslide.engine {
    height: 641px;
    background-image: url('/images/banner_engine_large_2x.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}
.heroslide.connect {
    height: 641px;
    background-image: url('/images/banner_connect_large_2x.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}
.orbit-slide-number, .orbit-timer { display: none }
.orbit-bullets { margin-top: -55px }
    .orbit-bullets li {
        background: rgba(255, 255, 255, 0.23);
        height: 12px;
        margin-right: 20px;
        width: 12px;
        -webkit-transition: background .25s ease;
        -moz-transition: background .25s ease;
        -ms-transition: background .25s ease;
        -o-transition: background .25s ease;
        transition: background .25s ease;
    }
    .orbit-bullets li.active { background: rgba(212, 212, 212, 1) }
@media only screen and (max-width: 40em) { 
    .orbit-bullets { display: block }
}
h1 {
    margin-top: 270px;
    color: #FFF;
    font-weight: 100;
    font-size: 50px;
    font-family: 'San Francisco 2', 'Helvetica Neue', sans-serif;
}
@media only screen and (min-width: 40.063em) { 
    h1 { font-size: 72.5px }
}
@media only screen and (min-width: 64.063em) { 
    h1 { font-size: 92.5px }
}
h1.connected { margin-top: 210px }
p {
    color: #FFF;
    font-weight: 300;
    font-size: 17px;
    font-family: 'San Francisco 2', 'Helvetica Neue', sans-serif;
    margin-top: -20px;
    letter-spacing: .4px;
}
.heroslide a {
    display: inline-block;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 12px 70px;
    color: #FFF;
    font-weight: 300;
    font-family: 'San Francisco 2', 'Helvetica Neue', sans-serif;
    font-size: 17px;
}
.heroslide a.white {
    background: rgba(255,255,255,0.15);
    color: #FFF;
}
.heroslide .battlescape_links { margin-top: 445px }
.heroslide a.kickstarter {
    display: inline-block;
    border-radius: 5px;
    background-color: rgb(46, 204, 109);
    box-shadow: 0px 4px 0px 0px rgba(60, 134, 90, 1);
    margin-top: 10px;
}
@media only screen and (min-width: 40.063em) { 
    .heroslide a.kickstarter {
        margin-left: 20px;
        margin-top: 0;
        width: auto;
    }
}
.battlescape_links a { width: 80vw }
@media only screen and (min-width: 40.063em) { 
    .battlescape_links a { width: auto }
}
header {
    height: 118px;
    margin-bottom: -118px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}
    header .logo {
        width: 258.5px;
        height: 81px;
        background-image: url('/images/logo_2x.png');
        background-position: top left;
        background-size: 258.5px 81px;
        background-repeat: no-repeat;
        float: left;
        display: inline-block;
        margin-top: 19px;
    }
@media only screen and (min-width: 40.063em) and (max-width: 862px) { 
    header .logo {
        margin: 19px auto;
        margin-bottom: 0;
        display: block;
        float: none;
        clear: both;
    }
}
nav {
    text-align: right;
    float: right;
    position: relative;
    margin: 0;
    margin-top: 50px;
}
@media only screen and (min-width: 40.063em) and (max-width: 862px) { 
    nav {
        margin: 20px auto;
        float: none;
        clear: both;
        text-align: center;
    }
}
nav a {
    font-weight: 200;
    color: #FFF;
    font-size: 14px;
    margin-right: 60px;
}
nav a:hover { color: #cad1e8 }
nav a:last-child { margin-right: 0px }
header .mobile-nav-button {
    position: fixed;
    right: 20px;
    top: 10px;
    font-size: 36px;
    color: #FFF;
    text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.6), 0px 0px 7px rgba(0, 0, 0, 0.4);
}
.offcanvas-overlap .exit-off-canvas { background: rgba(0, 0, 0, 0.5) }
.left-off-canvas-menu, .right-off-canvas-menu {
    position: fixed;
    top: 0;
    z-index: 10;
}
.tiles { margin-top: 20px }
    .tiles div a {
        margin: 0 0px;
        margin-bottom: 4px;
        font: 0/0 a;
        color: transparent;
        display: block;
        height: 225px;
        width: auto;
        background-repeat: no-repeat;
    }
@media only screen and (min-width: 40.063em) { 
    .tiles div a {
        margin-bottom: 0;
        margin: 0 2px;
    }
    .tiles div:first-child a { margin-left: 0 }
    .tiles div:last-child a { margin-right: 0 }
}



/* Engine Tile */
.tiles div#engine a {
    background-image: url('/images/tile_engine_small.png');
    background-size: 640px 226px;
    background-position: center top;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {
	.tiles div#engine a {
	    background-image: url('/images/tile_engine_small_2x.png');
	}
}
@media only screen and (min-width: 40.063em) { 
    .tiles div#engine a {
        background-image: url('/images/tile_engine_large.png');
        background-size: 418px 225px;
        background-position: center top;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 40.063em), only screen and (min-resolution: 144dpi) and (min-width: 40.063em), only screen and (-webkit-min-device-pixel-ratio: 144) and (min-width: 40.063em), only screen and (min-resolution: 144dppx) and (min-width: 40.063em) {
	.tiles div#engine a {
        background-image: url('/images/tile_engine_large_2x.png');
    }
}
/* Engine Tile */

/* Studios Tile */
.tiles div#studios a {
    background-image: url('/images/tile_studios_small.png');
    background-size: 640px 226px;
    background-position: center top;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {
	.tiles div#studios a {
	    background-image: url('/images/tile_studios_small_2x.png');
	}
}
@media only screen and (min-width: 40.063em) { 
    .tiles div#studios a {
        background-image: url('/images/tile_studios_large.png');
        background-size: 418px 225px;
        background-position: center top;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 40.063em), only screen and (min-resolution: 144dpi) and (min-width: 40.063em), only screen and (-webkit-min-device-pixel-ratio: 144) and (min-width: 40.063em), only screen and (min-resolution: 144dppx) and (min-width: 40.063em) {
    .tiles div#studios a {
        background-image: url('/images/tile_studios_large_2x.png');
    }
}
/* End Studios Tile */

/* Battlescape Tile */
.tiles div#battlescape a {
    background-image: url('/images/tile_battlescape_small.png');
    background-size: 640px 226px;
    background-position: center top;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {
	.tiles div#battlescape a {
	    background-image: url('/images/tile_battlescape_small_2x.png');
	}
}
@media only screen and (min-width: 40.063em) { 
    .tiles div#battlescape a {
        background-image: url('/images/tile_battlescape_large.png');
        background-size: 418px 225px;
        background-position: center top;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 40.063em), only screen and (min-resolution: 144dpi) and (min-width: 40.063em), only screen and (-webkit-min-device-pixel-ratio: 144) and (min-width: 40.063em), only screen and (min-resolution: 144dppx) and (min-width: 40.063em) {
    .tiles div#battlescape a {
        background-image: url('/images/tile_battlescape_large_2x.png');
        background-size: 418px 225px;
        background-position: center top;
    }
}
/* End Battlescape Tile */

footer.row {
    height: 150px;
    margin-top: 40px;
}
footer .border-top {
    border-top: 1px solid #EEE;
    padding-top: 20px;
}
footer .logo {
    background-image: url('/images/footer_logo_2x.png');
    background-size: 217px 68px;
    height: 68px;
    width: 217px;
    margin: 0 20px;
    display: inline-block;
}
@media only screen and (min-width: 40.063em) { 
    footer .logo { margin-right: 40px }
}
footer ul {
    margin-right: 7px;
    display: inline-block;
    list-style: none;
    vertical-align: top;
    margin-bottom: 0;
}
    footer ul li a {
        display: none;
        font-size: 14px;
        color: #AAA;
        font-weight: 200;
    }
footer .navigation { margin: 15px }
@media only screen and (min-width: 40.063em) { 
    footer .navigation {
        margin: 15px;
        float: right;
        margin-top: -20px;
    }
}
@media only screen and (min-width: 64.063em) { 
    footer .navigation {
        margin: 0px;
        display: inline;
        float: none;
        clear: both;
    }
    footer ul li a { display: block }
    footer ul { margin-right: 17px }
}
footer ul li:first-child a {
    color: #777777;
    display: inline-block;
}
footer a:hover { color: #cad1e8 
=======
html,body{font-family:'San Francisco 2','Helvetica Neue',sans-serif}.heroslide.battlescape{height:641px;background-image:url(/images/banner_battlescape_small_2x.png);background-size:cover;background-repeat:no-repeat;background-position:center top}@media only screen and (min-width: 64.063em){.heroslide.battlescape{background-image:url(/images/banner_battlescape_large_2x.png)}}.heroslide.engine{height:641px;background-image:url(/images/banner_engine_large_2x.png);background-size:cover;background-repeat:no-repeat;background-position:center top}.heroslide.connect{height:641px;background-image:url(/images/banner_connect_large_2x.png);background-size:cover;background-repeat:no-repeat;background-position:center top}.orbit-slide-number,.orbit-timer{display:none}.orbit-bullets{margin-top:-55px}.orbit-bullets li{background:rgba(255,255,255,0.23);height:12px;margin-right:20px;width:12px;-webkit-transition:background .25s ease;-moz-transition:background .25s ease;-ms-transition:background .25s ease;-o-transition:background .25s ease;transition:background .25s ease}.orbit-bullets li.active{background:rgba(212,212,212,1)}@media only screen and (max-width: 40em){.orbit-bullets,.touch .orbit-bullets{display:block}}h1{margin-top:270px;color:#FFF;font-weight:100;font-size:50px;font-family:'San Francisco 2','Helvetica Neue',sans-serif}@media only screen and (min-width: 40.063em){h1{font-size:72.5px}}@media only screen and (min-width: 64.063em){h1{font-size:92.5px}}h1.connected{margin-top:210px}p{color:#FFF;font-weight:300;font-size:17px;font-family:'San Francisco 2','Helvetica Neue',sans-serif;margin-top:-20px;letter-spacing:.4px}.heroslide a{display:inline-block;border-radius:5px;background-color:rgba(0,0,0,0.4);padding:12px 70px;color:#FFF;font-weight:300;font-family:'San Francisco 2','Helvetica Neue',sans-serif;font-size:17px}.heroslide a.white{background:rgba(255,255,255,0.15);color:#FFF}.heroslide .battlescape_links{margin-top:445px}.heroslide a.kickstarter{display:inline-block;border-radius:5px;background-color:#2ecc6d;box-shadow:0 4px 0 0 rgba(60,134,90,1);margin-top:10px}@media only screen and (min-width: 40.063em){.heroslide a.kickstarter{margin-left:20px;margin-top:0;width:auto}}.battlescape_links a{width:80vw}@media only screen and (min-width: 40.063em){.battlescape_links a{width:auto}}@media only screen and (min-width: 40.063em){.tiles div#battlescape a{background-image:url(/images/tile_battlescape_large_2x.png);background-size:418px 225px;background-position:center top}}header{height:118px;margin-bottom:-118px;position:absolute;top:0;left:0;z-index:999;width:100%}header .logo{width:258.5px;height:81px;background-image:url(/images/logo_2x.png);background-position:top left;background-size:258.5px 81px;background-repeat:no-repeat;float:left;display:inline-block;margin-top:19px}@media only screen and (min-width: 40.063em) and (max-width: 862px){header .logo{margin:19px auto;margin-bottom:0;display:block;float:none;clear:both}}nav{text-align:right;float:right;position:relative;margin:0;margin-top:50px}@media only screen and (min-width: 40.063em) and (max-width: 862px){nav{margin:20px auto;float:none;clear:both;text-align:center}}nav a{font-weight:200;color:#FFF;font-size:14px;margin-right:60px}nav a:hover{color:#cad1e8}nav a:last-child{margin-right:0}header .mobile-nav-button{position:fixed;right:20px;top:10px;font-size:36px;color:#FFF;text-shadow:0 0 16px rgba(0,0,0,0.6),0 0 7px rgba(0,0,0,0.4)}.offcanvas-overlap .exit-off-canvas{background:rgba(0,0,0,0.5)}.left-off-canvas-menu,.right-off-canvas-menu{position:fixed;top:0;z-index:10}.tiles{margin-top:20px}.tiles div a{margin:0;margin-bottom:4px;font:0/0 a;color:transparent;display:block;height:225px;width:auto;background-repeat:no-repeat}@media only screen and (min-width: 40.063em){.tiles div a{margin:0 2px}.tiles div:first-child a{margin-left:0}.tiles div:last-child a{margin-right:0}}.tiles div#engine a{background-image:url(/images/tile_engine_small_2x.png);background-size:640px 226px;background-position:center top}@media only screen and (min-width: 40.063em){.tiles div#engine a{background-image:url(/images/tile_engine_large_2x.png);background-size:418px 225px;background-position:center top}}.tiles div#studios a{background-image:url(/images/tile_studios_small_2x.png);background-size:640px 226px;background-position:center top}@media only screen and (min-width: 40.063em){.tiles div#studios a{background-image:url(/images/tile_studios_large_2x.png);background-size:418px 225px;background-position:center top}}.tiles div#battlescape a{background-image:url(/images/tile_battlescape_small_2x.png);background-size:640px 226px;background-position:center top}footer.row{height:150px;margin-top:40px}footer .border-top{border-top:1px solid #EEE;padding-top:20px}footer .logo{background-image:url(/images/footer_logo_2x.png);background-size:217px 68px;height:68px;width:217px;margin:0 20px;display:inline-block}@media only screen and (min-width: 40.063em){footer .logo{margin-right:40px}}footer ul{margin-right:7px;display:inline-block;list-style:none;vertical-align:top;margin-bottom:0}footer ul li a{display:none;font-size:14px;color:#AAA;font-weight:200}footer .navigation{margin:15px}@media only screen and (min-width: 40.063em){footer .navigation{margin:15px;float:right;margin-top:-20px}}@media only screen and (min-width: 64.063em){footer .navigation{margin:0;display:inline;float:none;clear:both}footer ul li a{display:block}footer ul{margin-right:17px}}footer ul li:first-child a{color:#777;display:inline-block}footer a:hover{color:#cad1e8}
>>>>>>> origin/master
